
input[type="text"],
select {
  width: 270px;
  padding: 5px;
  margin-top: 15px;
  font-family: Arial, sans-serif;
  font-weight: normal;
  text-align: left;
 

}
.detail {
  width: 270px;
  height: 450px;
  background-color: #f2f2f2;
  padding: 20px;
  box-shadow: 2px;
  display: flex;
justify-content: center;
box-shadow: 0px 20px 42px 0 rgba(31, 38 ,135, 0.37 );
backdrop-filter: blur(2px);
-webkit-backdrop-filter:blur(2px);
border-radius: 10px;
border: 1px solid rgba(255, 255, 255, 0.18);
}
label{
  margin-left: 250px;

}
.payment{
  width: 270px;
  height: 450px;
  background-color: #f2f2f2;
  padding: 20px;
  box-shadow: 2px;
  display: flex;
justify-content: center;
box-shadow: 0px 20px 42px 0 rgba(31, 38 ,135, 0.37 );
backdrop-filter: blur(2px);
-webkit-backdrop-filter:blur(2px);
border-radius: 10px;
border: 1px solid rgba(255, 255, 255, 0.18);
}



  
  